In [1]:
# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

# Tugas 1
company_list = [{"name": company["name"]} for company in sorted(company_detail_list, key=lambda x: x['name'], reverse=True)]
print(company_list)

[{'name': 'Company 3'}, {'name': 'Company 2'}, {'name': 'Company 1'}]

In [2]:
# Tugas 2
for company in company_detail_list:
    print(f"{company['name']}: {company['domain']} ({company['country']})")

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

In [3]:
# Tugas 3
# Membuat pemetaan antara nama perusahaan dan domainnya
domain_mapping = {company["name"]: company["domain"] for company in company_detail_list}

# Mengelompokkan karyawan berdasarkan domain
employees_by_domain = {}
for employee in employee_detail_list:
    domain = domain_mapping[employee["company"]]
    employees_by_domain.setdefault(domain, []).append(employee["full_name"])

print(employees_by_domain)

{'Retail': ['John Doe', 'Ying Han Tan', 'Robert White'], 'Technology': ['Tom Smith', 'Rubby Lee'], 'Healthcare': ['Andrew Sebastian', 'Kenneth Ng']}

In [4]:
# Tugas 4
def employees_with_company_country():
    # Membuat pemetaan antara nama perusahaan dan negaranya
    country_mapping = {company["name"]: company["country"] for company in company_detail_list}
    
    # Membuat daftar dengan rincian karyawan yang mencakup negara perusahaan
    result = [
        {
            "full_name": employee["full_name"],
            "company": employee["company"],
            "country": country_mapping[employee["company"]]
        }
        for employee in employee_detail_list
    ]
    return result

print(employees_with_company_country())

[{'full_name': 'John Doe', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Tom Smith', 'company': 'Company 2', 'country': 'United Kingdom'}, {'full_name': 'Andrew Sebastian', 'company': 'Company 3', 'country': 'United States'}, {'full_name': 'Ying Han Tan', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Kenneth Ng', 'company': 'Company 3', 'country': 'United States'}, {'full_name': 'Rubby Lee', 'company': 'Company 2', 'country': 'United Kingdom'}, {'full_name': 'Robert White', 'company': 'Company 1', 'country': 'United States'}]

In [5]:
# Tugas 5
from collections import Counter

def companies_with_employee_nationalities():
    # Inisialisasi hitungan kewarganegaraan untuk setiap perusahaan
    nationality_count_by_company = {company["name"]: Counter() for company in company_detail_list}
    
    # Menghitung kewarganegaraan per perusahaan
    for employee in employee_detail_list:
        nationality_count_by_company[employee["company"]][employee["nationality"]] += 1
    
    # Format hasil
    result = [
        {
            "company": company,
            "employee_nationality": dict(nationalities)
        }
        for company, nationalities in nationality_count_by_company.items()
    ]
    return result

print(companies_with_employee_nationalities())

[{'company': 'Company 1', 'employee_nationality': {'Australia': 2, 'United Kingdom': 1}}, {'company': 'Company 2', 'employee_nationality': {'United States': 1, 'Hong Kong': 1}}, {'company': 'Company 3', 'employee_nationality': {'United States': 2}}]